body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: #2b2a2a;
}

.navbar-default {
    background-color: #fc0;
    border-color: #96a0ad;
}

.navbar-default .navbar-nav>li>a {
    color: #2b2a2a;
}




.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: black;
}