{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block stylecontent %}

{% endblock %}




{% block jumbotran %}


{% endblock %}

{% block content %}



     <div class="col-md-12">
        <h2 class="text-center">تاریخچه کارمند</h2>
    </div>

    <div class="col-md-6 col-md-offset-3" style="margin-top: 40px">
        {% if err %}
            <h3 class="text-center" style="color: red">کاربر وجود ندارد</h3>
        {% else %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th>دفتر پستی</th>
                <th>زمان شروع به کار در دفتر</th>
              </tr>
            </thead>
            <tbody>
            {% for p in list %}
              <tr>
                <td>{{ p.postofficename }}</td>
                <td>{{ p.timestart }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endif %}
    </div>

{% endblock %}

{% block content-no-container %}




{% endblock %}