{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block stylecontent %}

{% endblock %}




{% block jumbotran %}


{% endblock %}

{% block content %}



     <div class="col-md-8 col-md-offset-2">
        <img src="static/img/template/home/post_logo.png" class="img-responsive" alt="Cinque Terre">
    </div>


    <div class="col-md-12" style="margin-top: 40px">
    <p class="text-center">
        Excellence. Simply delivered.
International express deliveries; global freight forwarding by air, sea, road and rail; warehousing solutions from packaging, to repairs, to storage; mail deliveries worldwide; and other customized logistic services – with everything DHL does, we help connect people and improve their lives.

Read more
With a global network in over 220 countries and territories across the globe, DHL is the most international company in the world and can offer solutions for an almost infinite number of logistics needs.

DHL is part of the world’s leading postal and logistics company Deutsche Post DHL Group, and encompasses the business units DHL Express, DHL Parcel, DHL eCommerce, DHL Global Forwarding, DHL Freight and DHL Supply Chain.
<br>
        <a href="/login/" style="padding-top: 15px"><button type="button" class="btn btn-lg btn-primary">login</button></a>
    </p>
    </div>
{% endblock %}

{% block content-no-container %}




{% endblock %}